@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Leo Jerez | Winston-Salem, NC
    <a href="http://leojerez.com"></a>
</address>

<address>
    <strong>Support & Marketing:</strong>   <a href="mailto:contact@leojerez.com">contact@leojerez.com</a><br />    
</address>