@model dynamic

<div clas="container">
    <h1>Credits</h1>
    <h3>Some honorable mentions to meet the Creative Commons Attribution License</h3>
    <ul class="row">
        <li>
            <p><em>bucket</em> by Marek Polakovic from the Noun Project
            </p>
        </li>

    </ul>
</div>