@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PISS</h1>
    <p class="lead">Your <span class="text-success">Personal Inventory & Stock System</span></p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make an Account</h2>
        <p>
            Register for an account above and start organizing your home!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Account")">Register Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create your PISS Buckets</h2>
        <p>
            Once you've registered, start creating your piss bucket in the shape you want your inventory to have.
            A Book Bucket might be defined as Author, Title, ISBN, Price, etc.
            A Video Game Bucket might be defined as Title, Publisher, Rating, Console System, etc.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Documentation")">Learn How &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PISS away your valuables</h2>
        <p>
            Once you've got your custom-designed bucket, start filling it up with your items. Your bucket
            is custom tailored by <span class="text-success">YOU</span> for your items to fit perfectly.
            
            Go to your bucket dashboard to keep track of items, search, mark as "lent", etc. Keep track of your home!
            
            If you need help, contact me and I will walk you through your first PISS bucket.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Contact")">Get in Touch &raquo;</a></p>
    </div>
</div>