<div class="panel panel-primary">
    <div class="panel-heading">
        Your Buckets!
    </div>
    
    <ul class="panel-body container-fluid" *ngIf="itemTypes && itemTypes.length">
        <li class="row" *ngFor="let itemType of itemTypes">   
                     
            <div class="col-md-3 col-sm-4">
                <a href="api/itemtype/{{ itemType.ItemTypeId }}">
                    <label class="label label-default col-sm-12">{{ itemType.Description }}</label>
                    <br />
                    <img class="center-block" src="app/assets/images/bucket_empty.png" />
                </a>
            </div>
            
        </li>        
    </ul>

</div>